In [1]:
import numpy as np
import pandas as pd
import pickle
import os.path
import math
import sys
import csv
import matplotlib.pyplot as plt
from sklearn.externals import joblib
import scipy.integrate as spi
import pylab as pl

In [2]:
n_bytes = 2**31
max_bytes = 2**31 - 1

def load_pickle(file_path):
    bytes_in = bytearray(0)
    input_size = os.path.getsize(file_path)
    with open(file_path, 'rb') as f_in:
        for _ in range(0, input_size, max_bytes):
            bytes_in += f_in.read(max_bytes)
        return pickle.loads(bytes_in)
path = "/Users/maimai/Desktop/project/May/data/givenchy/pickle"  
users = load_pickle(path+"/users.dat")
friends = load_pickle(path+"/friends.dat")
network = load_pickle(path+"/network.dat")
old_data = load_pickle(path+"/30_data(0).dat")
data = load_pickle(path+"/30_data.dat")

In [3]:
old_data.head()

,label,user_index,UsM_deltaDays,UsM_statusesCount,UsM_followersCount,UsM_favouritesCount,UsM_friendsCount,UsM_listedCount,UsM_normalizedUserStatusesCount,UsM_normalizedUserFollowersCount,...,Stat_average_favouritesCount,Stat_average_friendsCount,Stat_average_listedCount,Stat_average_normalizedUserStatusesCount,Stat_average_normalizedUserFollowersCount,Stat_average_normalizedUserFavouritesCount,Stat_average_normalizedUserListedCount,Stat_average_normalizedUserFriendsCount,Stat_max_kOut,Stat_min_kOut
0,1,1,1042,12853,753,34186,3428,8,12.334933,0.722649,...,11938.0,4643.0,555.0,60.605747,47.817908,3.98864,0.185433,1.551286,183,183
1,1,1,1042,12853,753,34186,3428,8,12.334933,0.722649,...,11938.0,4643.0,555.0,60.605747,47.817908,3.98864,0.185433,1.551286,183,183
2,1,1,1042,12853,753,34186,3428,8,12.334933,0.722649,...,11938.0,4643.0,555.0,60.605747,47.817908,3.98864,0.185433,1.551286,183,183
3,1,1,1042,12853,753,34186,3428,8,12.334933,0.722649,...,11938.0,4643.0,555.0,60.605747,47.817908,3.98864,0.185433,1.551286,183,183
4,1,1,1042,12853,753,34186,3428,8,12.334933,0.722649,...,11938.0,4643.0,555.0,60.605747,47.817908,3.98864,0.185433,1.551286,183,183

In [4]:
network.head(3)

,user,user_id,source_id,time_lapsed,followers_count,friends_count,seed_user_id,generation,time_since_seed
0,davelackie,100766356,NaN,0.00,143119,4643,100766356.0,0.0,0.00
1,alexanderskhan,3186545203,100766356.0,0.15,753,3428,100766356.0,1.0,0.15
2,consiglierela,4134992843,100766356.0,0.23,2161,396,100766356.0,1.0,0.23

In [5]:
users.head(3)

,user,user_id,time_lapsed,followers_count,friends_count,user_created_days,user_statuses_count,user_listed_count,user_favourites_count,normalized_user_statuses_count,normalized_user_followers_count,normalized_user_favourites_count,normalized_user_listed_count,normalized_user_friends_count,mention_and_reply,source_candidates,source_index,seed_index,generation,time_since_seed
0,davelackie,100766356,0.00,143119,4643,2993,181393,555,11938,60.605747,47.817908,3.988640,0.185433,1.551286,[],"[3, 5, 6, 7, 10, 11, 14, 15, 19, 20, 24, 74, 8...",None,0,0,0
1,alexanderskhan,3186545203,0.15,753,3428,1042,12853,8,34186,12.334933,0.722649,32.808061,0.007678,3.289827,[0],[0],0,0,1,0.15
2,consiglierela,4134992843,0.23,2161,396,856,46934,36,78797,54.829439,2.524533,92.052570,0.042056,0.462617,[0],"[0, 12, 21, 32, 48, 748, 819, 972, 2358, 2778,...",0,0,1,0.23

In [6]:
######## infec_candidates ########
temp=[]
infec = [temp for i in range(5011)]
users["infec_candidates"]= None
record_num = int(network.describe().iloc[0,0])

for i in range(record_num):
    source_candidates = users.loc[i,"source_candidates"]
    #users.loc[i,"infec_candidates"] = list()
    for j in range(len(source_candidates)):
        candidates = source_candidates[j]
        if infec[candidates] == []:
            infec[candidates]=[i]
        else :
            infec[candidates]+=[i]

users.loc[:,"infec_candidates"]=infec

users.head()

,user,user_id,time_lapsed,followers_count,friends_count,user_created_days,user_statuses_count,user_listed_count,user_favourites_count,normalized_user_statuses_count,...,normalized_user_favourites_count,normalized_user_listed_count,normalized_user_friends_count,mention_and_reply,source_candidates,source_index,seed_index,generation,time_since_seed,infec_candidates
0,davelackie,100766356,0.00,143119,4643,2993,181393,555,11938,60.605747,...,3.988640,0.185433,1.551286,[],"[3, 5, 6, 7, 10, 11, 14, 15, 19, 20, 24, 74, 8...",None,0,0,0,"[1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1..."
1,alexanderskhan,3186545203,0.15,753,3428,1042,12853,8,34186,12.334933,...,32.808061,0.007678,3.289827,[0],[0],0,0,1,0.15,"[14, 4334]"
2,consiglierela,4134992843,0.23,2161,396,856,46934,36,78797,54.829439,...,92.052570,0.042056,0.462617,[0],"[0, 12, 21, 32, 48, 748, 819, 972, 2358, 2778,...",0,0,1,0.23,"[12, 32, 818, 1635, 2358, 4699]"
3,ImpactPrincess,1955472014,0.63,242,642,1613,23179,55,28995,14.370118,...,17.975821,0.034098,0.398016,[0],"[0, 115, 577]",0,0,1,0.63,"[0, 3587]"
4,Damek0Masca,406301175,1.13,116,239,2318,2407,12,1058,1.038395,...,0.456428,0.005177,0.103106,[],[],None,4,0,0,[]

# Seeds

In [7]:
######## All Seeds 99 ########
seeds = network.copy()

record_num_network = network.describe().iloc[0,0]
record_num_network = int(record_num_network)
for i in range(record_num_network):
    record = network.loc[i,"generation"]
    if record != 0:
        seeds.drop([i],axis=0, inplace = True)
seeds.head()

,user,user_id,source_id,time_lapsed,followers_count,friends_count,seed_user_id,generation,time_since_seed
0,davelackie,100766356,NaN,0.00,143119,4643,1.007664e+08,0.0,0.0
4,Damek0Masca,406301175,NaN,1.13,116,239,4.063012e+08,0.0,0.0
21,Fashionista_com,15933910,NaN,17.00,2254291,825,1.593391e+07,0.0,0.0
25,LilEsBella,15098105,NaN,18.68,2038,367,1.509810e+07,0.0,0.0
34,tuffyhardy,2886562144,NaN,22.82,20,50,2.886562e+09,0.0,0.0

In [18]:
######## Effective Seeds 24 ########
effective_seeds= seeds.copy()

record_num_seeds = seeds.describe().iloc[0,0]
record_num_seeds = int(record_num_seeds)
for i in range(record_num_seeds):
    k=0
    user_index = seeds.index[i]
    user_id = seeds.loc[user_index,"user_id"]
    for j in range(record_num_network):
        source_id = network.loc[j,"source_id"]
        if user_id == source_id:
            k=k+1
            #print(k)
    if k == 0:
        effective_seeds.drop([user_index],axis=0, inplace = True)
effective_seeds.head()

,user,user_id,source_id,time_lapsed,followers_count,friends_count,seed_user_id,generation,time_since_seed
0,davelackie,100766356,NaN,0.00,143119,4643,1.007664e+08,0.0,0.0
21,Fashionista_com,15933910,NaN,17.00,2254291,825,1.593391e+07,0.0,0.0
25,LilEsBella,15098105,NaN,18.68,2038,367,1.509810e+07,0.0,0.0
81,ninatypewriter,171656520,NaN,28.13,10483,4108,1.716565e+08,0.0,0.0
416,TalkFilmSoc,2236860644,NaN,47.12,6281,2244,2.236861e+09,0.0,0.0

# Model_and_XData

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226984 entries, 0 to 56355
Data columns (total 69 columns):
Nw_averageNeighborDegree                      226984 non-null float64
Nw_averageNeighborDegree-1                    226984 non-null float64
Nw_averageNeighborDegree0                     226984 non-null float64
Nw_degreeCentrality                           226984 non-null float64
Nw_degreeCentrality-1                         226984 non-null float64
Nw_degreeCentrality0                          226984 non-null float64
Nw_eigenvectorCentrality                      226984 non-null float64
Nw_eigenvectorCentrality-1                    226984 non-null float64
Nw_eigenvectorCentrality0                     226984 non-null float64
Nw_inDegreeCentrality                         226984 non-null float64
Nw_inDegreeCentrality-1                       226984 non-null float64
Nw_inDegreeCentrality0                        226984 non-null float64
Nw_nNodes                                     226984 non-null int64
Nw_outDegreeCentrality                        226984 non-null float64
Nw_outDegreeCentrality-1                      226984 non-null float64
Nw_outDegreeCentrality0                       226984 non-null float64
Stat_average_deltaDays                        226984 non-null float64
Stat_average_favouritesCount                  226984 non-null float64
Stat_average_followersCount                   226984 non-null float64
Stat_average_friendsCount                     226984 non-null float64
Stat_average_kOut                             226984 non-null float64
Stat_average_listedCount                      226984 non-null float64
Stat_average_normalizedUserFavouritesCount    226984 non-null float64
Stat_average_normalizedUserFollowersCount     226984 non-null float64
Stat_average_normalizedUserFriendsCount       226984 non-null float64
Stat_average_normalizedUserListedCount        226984 non-null float64
Stat_average_normalizedUserStatusesCount      226984 non-null float64
Stat_average_statusesCount                    226984 non-null float64
Stat_average_t                                226984 non-null float64
Stat_max_kOut                                 226984 non-null int64
Stat_min_kOut                                 226984 non-null int64
TwM_t-1                                       226984 non-null float64
TwM_t0                                        226984 non-null float64
TwM_tCurrent                                  226984 non-null int64
UsM_deltaDays                                 226984 non-null int64
UsM_deltaDays-1                               226984 non-null int64
UsM_deltaDays0                                226984 non-null int64
UsM_favouritesCount                           226984 non-null int64
UsM_favouritesCount-1                         226984 non-null int64
UsM_favouritesCount0                          226984 non-null int64
UsM_followersCount                            226984 non-null int64
UsM_followersCount-1                          226984 non-null int64
UsM_followersCount0                           226984 non-null int64
UsM_friendsCount                              226984 non-null int64
UsM_friendsCount-1                            226984 non-null int64
UsM_friendsCount0                             226984 non-null int64
UsM_listedCount                               226984 non-null int64
UsM_listedCount-1                             226984 non-null int64
UsM_listedCount0                              226984 non-null int64
UsM_normalizedUserFavouritesCount             226984 non-null float64
UsM_normalizedUserFavouritesCount-1           226984 non-null float64
UsM_normalizedUserFavouritesCount0            226984 non-null float64
UsM_normalizedUserFollowersCount              226984 non-null float64
UsM_normalizedUserFollowersCount-1            226984 non-null float64
UsM_normalizedUserFollowersCount0             226984 non-null float64
UsM_normalizedUserFriendsCount                226984 non-null float64
UsM_normalizedUserFriendsCount-1              226984 non-null float64
UsM_normalizedUserFriendsCount0               226984 non-null float64
UsM_normalizedUserListedCount                 226984 non-null float64
UsM_normalizedUserListedCount-1               226984 non-null float64
UsM_normalizedUserListedCount0                226984 non-null float64
UsM_normalizedUserStatusesCount               226984 non-null float64
UsM_normalizedUserStatusesCount-1             226984 non-null float64
UsM_normalizedUserStatusesCount0              226984 non-null float64
UsM_statusesCount                             226984 non-null int64
UsM_statusesCount-1                           226984 non-null int64
UsM_statusesCount0                            226984 non-null int64
label                                         226984 non-null int64
user_id                                       226984 non-null int64
dtypes: float64(45), int64(24)
memory usage: 121.2 MB

In [9]:
data.head(5)

,Nw_averageNeighborDegree,Nw_averageNeighborDegree-1,Nw_averageNeighborDegree0,Nw_degreeCentrality,Nw_degreeCentrality-1,Nw_degreeCentrality0,Nw_eigenvectorCentrality,Nw_eigenvectorCentrality-1,Nw_eigenvectorCentrality0,Nw_inDegreeCentrality,...,UsM_normalizedUserListedCount-1,UsM_normalizedUserListedCount0,UsM_normalizedUserStatusesCount,UsM_normalizedUserStatusesCount-1,UsM_normalizedUserStatusesCount0,UsM_statusesCount,UsM_statusesCount-1,UsM_statusesCount0,label,user_id
0,6.5,4.42623,4.42623,0.000599,0.045709,0.045709,0.000051,0.001645,0.001645,0.0002,...,0.185433,0.185433,12.334933,60.605747,60.605747,12853,181393,181393,1,3186545203
1,6.5,4.42623,4.42623,0.000599,0.045709,0.045709,0.000051,0.001645,0.001645,0.0002,...,0.185433,0.185433,12.334933,60.605747,60.605747,12853,181393,181393,1,3186545203
2,6.5,4.42623,4.42623,0.000599,0.045709,0.045709,0.000051,0.001645,0.001645,0.0002,...,0.185433,0.185433,12.334933,60.605747,60.605747,12853,181393,181393,1,3186545203
3,6.5,4.42623,4.42623,0.000599,0.045709,0.045709,0.000051,0.001645,0.001645,0.0002,...,0.185433,0.185433,12.334933,60.605747,60.605747,12853,181393,181393,1,3186545203
4,6.5,4.42623,4.42623,0.000599,0.045709,0.045709,0.000051,0.001645,0.001645,0.0002,...,0.185433,0.185433,12.334933,60.605747,60.605747,12853,181393,181393,1,3186545203

In [10]:
######## Model ########

def loadModel(self):
    read_file = "data/" + self.model_name + ".dat"
    self.model = joblib.load(read_file)
    return self.model

model = joblib.load(path+"/RandomForest_0_model.dat")

model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=10, verbose=0, warm_start=False)

In [11]:
######## Prediction ########
temp_X = data.drop(["label","UsM_favouritesCount","UsM_favouritesCount-1",
                    "UsM_listedCount","UsM_normalizedUserFollowersCount",
                    "UsM_normalizedUserFriendsCount","UsM_normalizedUserStatusesCount-1",
                    "UsM_statusesCount-1"],axis=1)

    


# infec = model.predict_proba(valid_X)
# infec
# infec[0:4]   #左闭右开 右大1左大0
# infected = []

# for line in infec:
#     if line[1]>0.5:
#         infected.append(1)
#     else:
#         infected.append(0)
# infected

# SIMULATION

In [12]:
# network_simulation = pd.DataFrame(columns=["user","user_id","source_candidates","infec_candidates",
#                                            "followers_count","friends_count","source_id","seed_user_id",
#                                            "SIR","generations","time_lapsed","time_since_seed"])
# network_simulation["user"] = users["user"]
# network_simulation["user_id"] = users["user_id"]
# network_simulation["source_candidates"] = users["source_candidates"]
# network_simulation["infec_candidates"] = users["infec_candidates"]
# network_simulation["followers_count"] = users["followers_count"]
# network_simulation["friends_count"] = users["friends_count"]

# network_simulation.head()

In [19]:
network_simulation = pd.DataFrame(columns=["user","user_id","source_candidates","infec_candidates",
                                           "followers_count","friends_count","source_id","seed_user_id",
                                           "SIR","generations","time_lapsed","time_since_seed"])
network_simulation["user"] = users["user"]
network_simulation["user_id"] = users["user_id"]
network_simulation["source_candidates"] = users["source_candidates"]
network_simulation["infec_candidates"] = users["infec_candidates"]
network_simulation["followers_count"] = users["followers_count"]
network_simulation["friends_count"] = users["friends_count"]

###sim###
time = 10
 

###seeds###
for i in range(len(seeds)):
    index = seeds.index[i]
    network_simulation.loc[index,"SIR"] = 1
    network_simulation.loc[index,"generations"] = 0
    network_simulation.loc[index,"source_id"] = network_simulation.loc[index,"user_id"]
    network_simulation.loc[index,"seed_user_id"] = network_simulation.loc[index,"user_id"]
    network_simulation.loc[index,"time_lapsed"] = seeds.loc[index,"time_lapsed"]
    network_simulation.loc[index,"time_since_seed"] = 0


###simulation###
for t in range(time):
    for i in range(record_num):
        if np.isnan(network_simulation.loc[i,"time_lapsed"]) == False:
            if round(60*network_simulation.loc[i,"time_lapsed"]) == t and network_simulation.loc[i,"SIR"] == 1:
                infec_candidates=network_simulation.loc[i,"infec_candidates"]
                for j in range(len(infec_candidates)):
                    infector = network_simulation.loc[i,"infec_candidates"][j]
                    user_id1 = network_simulation.loc[infector,"user_id"]
                    user_id2 = temp_X[temp_X['user_id'].isin([user_id1])]
                    if user_id2.empty: 
                        continue
                    user_id2["index"]=""
                    for tem in range(len(user_id2)):
                        
                        user_id2.iat[tem,61]=int(tem)
                        
                    if len(user_id2)<48:
                        if round(t/30)<48-len(user_id2):
                            useful_line =  user_id2[user_id2['index'].isin([0])]
                        else:
                            useful_line = user_id2[user_id2['index']].isin([round(t/30)+(48-len(user_id2))])
                    else:
                        useful_line =  user_id2[user_id2['index'].isin([round(t/30)])]
                    #print(useful_line)
                    #user_id2.loc[round(t/(60*30))]
                    valid1 = useful_line.drop(["user_id","index"],axis=1)
                    if valid1.empty:
                        print("empty input")
                        continue
                    infec = model.predict_proba(valid1)
                    if float(infec[:,1])>0.5 and network_simulation.loc[infector,"SIR"]!=2 and network_simulation.loc[infector,"SIR"]!=1:
                        network_simulation.loc[infector,"SIR"] = 1
                        network_simulation.loc[infector,"generations"] = network_simulation.loc[i,"generations"]+1
                        network_simulation.loc[infector,"source_id"] = network_simulation.loc[i,"user_id"] 
                        network_simulation.loc[infector,"seed_user_id"] = network_simulation.loc[i,"seed_user_id"] 
                        network_simulation.loc[infector,"time_lapsed"] = (t+1)/30
                network_simulation.loc[i,"SIR"]=2

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
network_simulation

,user,user_id,source_candidates,infec_candidates,followers_count,friends_count,source_id,seed_user_id,SIR,generations,time_lapsed,time_since_seed
0,davelackie,100766356,"[3, 5, 6, 7, 10, 11, 14, 15, 19, 20, 24, 74, 8...","[1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...",143119,4643,100766356,100766356,2,0,0,0
1,alexanderskhan,3186545203,[0],"[14, 4334]",753,3428,NaN,NaN,NaN,NaN,NaN,NaN
2,consiglierela,4134992843,"[0, 12, 21, 32, 48, 748, 819, 972, 2358, 2778,...","[12, 32, 818, 1635, 2358, 4699]",2161,396,100766356,100766356,2,1,0.0333333,NaN
3,ImpactPrincess,1955472014,"[0, 115, 577]","[0, 3587]",242,642,NaN,NaN,NaN,NaN,NaN,NaN
4,Damek0Masca,406301175,[],[],116,239,406301175,406301175,1,0,1.13,0
5,panagiota_karag,2938214163,"[0, 20, 577, 1012, 1591, 1656, 1807, 1953, 320...","[0, 20, 306, 1591, 1953, 3203, 3810]",250,493,NaN,NaN,NaN,NaN,NaN,NaN
6,Gwen_UsBeauty,89805327,"[0, 21, 748, 1912, 1929]","[0, 20, 1656, 1912, 2504, 2811, 4768, 4930]",39697,1924,100766356,100766356,2,1,0.0333333,NaN
7,mascott04,342931336,[0],"[0, 306]",672,353,100766356,100766356,2,1,0.0333333,NaN
8,FazeyPie,27220084,[0],[],275,440,NaN,NaN,NaN,NaN,NaN,NaN
9,RissaRunsThis,97360017,[0],[],1911,506,NaN,NaN,NaN,NaN,NaN,NaN
10,claireangel2,357198527,[0],[0],933,515,100766356,100766356,2,1,0.0333333,NaN
11,FenteroonHols,523160325,[0],[0],3252,3253,100766356,100766356,2,1,0.0333333,NaN
12,ShinyStew,324873471,"[0, 2, 32, 1347]","[2, 32, 1347, 2707, 4223, 4481]",5246,596,NaN,NaN,NaN,NaN,NaN,NaN
13,HubbleEmma,2206267186,[0],[],109,225,NaN,NaN,NaN,NaN,NaN,NaN
14,robinson4206,17431232,"[0, 1, 16, 306, 577, 845, 879, 1012, 1084, 159...","[0, 16, 20, 306, 577, 1012, 1084, 1591, 1656, ...",1718,1738,NaN,NaN,NaN,NaN,NaN,NaN
15,savedbyanangel1,3646253717,"[0, 16, 577, 1012, 1084, 1953, 2187, 2467, 320...","[0, 16, 577, 1012, 1084, 1953, 2187, 2467, 320...",910,1227,NaN,NaN,NaN,NaN,NaN,NaN
16,ForeverAngel26,3070491376,"[0, 14, 15, 21, 108, 748, 879, 1008, 1084, 159...","[14, 15, 306, 1084, 1591, 1656, 1953, 2187, 24...",3045,4736,NaN,NaN,NaN,NaN,NaN,NaN
17,iwona46,154144165,[0],[],1029,5001,NaN,NaN,NaN,NaN,NaN,NaN
18,gillyt202,291712766,"[0, 3257]","[599, 3277, 4934]",3420,4538,NaN,NaN,NaN,NaN,NaN,NaN
19,kinoragulunay,1648735412,"[0, 748]","[0, 20]",301,113,100766356,100766356,2,1,0.0333333,NaN
20,nmTZL0rDsleAgEf,942362499923566592,"[0, 5, 6, 14, 19, 577, 1012, 1953, 2467, 3203,...","[0, 5, 306, 1953, 2187, 3203, 3810]",443,862,NaN,NaN,NaN,NaN,NaN,NaN
21,Fashionista_com,15933910,"[48, 748, 1673, 1912, 1929, 2077, 2778, 3448, ...","[2, 6, 16, 26, 28, 29, 31, 33, 37, 38, 40, 48,...",2254291,825,15933910,15933910,1,0,17,0
22,SandraBratcher,771201035469586432,[0],[],319,621,NaN,NaN,NaN,NaN,NaN,NaN
23,hartley_yvonne,3845766375,[0],[],18,32,NaN,NaN,NaN,NaN,NaN,NaN
24,amissamanda,396320458,"[0, 1008]",[0],82,100,100766356,100766356,2,1,0.0333333,NaN
25,LilEsBella,15098105,[248],[248],2038,367,15098105,15098105,1,0,18.68,0
26,xofrancescat,27219862,[21],[],745,489,NaN,NaN,NaN,NaN,NaN,NaN
27,Glamorela,1452119965,[0],[306],75,564,NaN,NaN,NaN,NaN,NaN,NaN
28,PepeTorrejon,71005726,"[21, 748, 1929]",[],736,1690,NaN,NaN,NaN,NaN,NaN,NaN
29,leylurr,85849955,"[21, 33, 1912]","[33, 424]",1859,1760,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4981,taesco_,3468431177,"[2289, 2358, 2873]",[],1725,437,NaN,NaN,NaN,NaN,NaN,NaN
4982,onexzeve,959802193804083201,[48],[],4,64,NaN,NaN,NaN,NaN,NaN,NaN
4983,DijanaStrinic,552393861,[48],[],438,413,NaN,NaN,NaN,NaN,NaN,NaN
4984,nerfdiz,938075011461537792,"[48, 2400, 2865]",[2400],142,240,NaN,NaN,NaN,NaN,NaN,NaN
4985,Nopeeeeeees,957556753561825281,[0],[],172,640,NaN,NaN,NaN,NaN,NaN,NaN
4986,saturnnes,775730635029741568,[972],[],408,278,NaN,NaN,NaN,NaN,NaN,NaN
4987,dondon9986,2190130955,"[48, 2289, 4138]",[4723],363,120,NaN,NaN,NaN,NaN,NaN,NaN
4988,giuubonatto,1223092136,"[48, 4454]",[],161,171,NaN,NaN,NaN,NaN,NaN,NaN
4989,Suneet_Sidhu,471553553,"[48, 3654, 4477]",[],178,364,NaN,NaN,NaN,NaN,NaN,NaN
4990,angkeqaj,2288732810,"[48, 942, 972, 2018, 2358, 2873]",[942],537,488,NaN,NaN,NaN,NaN,NaN,NaN
4991,RoudaAlsuwaidi,300366129,[48],[],234,417,NaN,NaN,NaN,NaN,NaN,NaN
4992,c_ecrews,2964369898,[48],[],269,196,NaN,NaN,NaN,NaN,NaN,NaN
4993,MorganFabulous,20771400,"[21, 48, 748, 1912, 1929]",[],1560,2125,NaN,NaN,NaN,NaN,NaN,NaN
4994,vogueredlip,741287496156381184,"[48, 2358]",[],653,252,NaN,NaN,NaN,NaN,NaN,NaN
4995,kaydotdaze,258637594,[48],[],3259,445,NaN,NaN,NaN,NaN,NaN,NaN
4996,haleyrosbarsky,554562978,[48],[],376,198,NaN,NaN,NaN,NaN,NaN,NaN
4997,jolazzaine,3149957552,[48],[],501,375,NaN,NaN,NaN,NaN,NaN,NaN
4998,del_maxxx,783377962225831936,"[48, 250]",[],91,221,NaN,NaN,NaN,NaN,NaN,NaN
4999,idalidsharpem,62886519,"[972, 4761]","[4698, 4761]",473,203,NaN,NaN,NaN,NaN,NaN,NaN
5000,brisevej,253355753,"[21, 48, 819, 888, 972, 1835, 2358, 2873, 3271]",[3271],662,280,257482364,100766356,1,3,0.233333,NaN
5001,_zindies,266547969,"[48, 1308, 2358, 3158]",[],829,2391,NaN,NaN,NaN,NaN,NaN,NaN
5002,CelebrityGirlyG,4003208793,[3590],[],4104,3423,NaN,NaN,NaN,NaN,NaN,NaN
5003,mariaskaite,2335995945,[48],[],197,190,NaN,NaN,NaN,NaN,NaN,NaN
5004,Citygurl216,363999576,[48],[],70,221,NaN,NaN,NaN,NaN,NaN,NaN
5005,xxpimporxx,3289784946,[972],[],65,316,NaN,NaN,NaN,NaN,NaN,NaN
5006,_edu_ignorance,3286999369,[972],[],168,115,NaN,NaN,NaN,NaN,NaN,NaN
5007,mooses_mom_mar,2563815600,"[1022, 1346, 1748, 1799, 3116, 3470, 3770, 380...","[1022, 1346, 1748, 1799, 3116, 3470, 3770, 380...",15390,10252,NaN,NaN,NaN,NaN,NaN,NaN
5008,omggrace31,917603318,[972],[],736,998,NaN,NaN,NaN,NaN,NaN,NaN
5009,Bitkey11,826114464160313344,[21],[],169,82,NaN,NaN,NaN,NaN,NaN,NaN
5010,_shsyazwani,401185426,"[48, 4890]",[],1351,322,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
users

NameError: name 'users' is not defined